<mat-toolbar color="primary" class="app-toolbar">
  <span class="app-title desktop-only">Time Logger</span>
  <span class="spacer"></span>
  <ng-container *ngIf="isAuthenticated$ | async">
    <button mat-button routerLink="/time-logs" routerLinkActive="active">
      <mat-icon>schedule</mat-icon>
      <span class="desktop-only">Time Logs</span>
    </button>
    <button mat-button routerLink="/activities" routerLinkActive="active">
      <mat-icon>list</mat-icon>
      <span class="desktop-only">Activities</span>
    </button>
    <div class="reward-minutes">
      <mat-icon>stars</mat-icon>
      <spans
        [ngClass]="{
          'positive': ((rewardMinutes | async) ?? 0) > 0, 
          'negative': ((rewardMinutes | async) ?? 0) < 0
        }"
      >{{rewardMinutes | async}} min</spans>
    </div>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<main class="app-content">
  <router-outlet></router-outlet>
</main>
