<div class="form-container">
  <h1>{{ isEditMode ? 'Edit' : 'New' }} Time Log</h1>

  <form [formGroup]="timeLogForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Activity</mat-label>
      <mat-select formControlName="activityId">
        <mat-option *ngFor="let activity of activities" [value]="activity.id">
          <span class="activity-option">
            <mat-icon>{{getActivityIcon(activity)}}</mat-icon>
            <span class="activity-name">{{activity.name}}</span>
            <span class="activity-type">({{activity.type | titlecase}})</span>
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Minutes</mat-label>
      <input matInput type="number" formControlName="minutes" min="1">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="loggedAt">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="form-actions">
      <button mat-button type="button" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!timeLogForm.valid">
        {{ isEditMode ? 'Update' : 'Create' }}
      </button>
    </div>
  </form>
</div>
